
/*Panier CSS*/
.panier {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.panier img {
    width: 40px;
    padding: 8px 0;
}
.panier section {
    width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}
table {
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
}
th {
    padding: 10px 0;
    font-weight: 400;
}
td {
    border-top: 0.5px solid #999;
    text-align: center;
    color: #37a6ff;
}
tr {
    border-bottom: 0.5px solid #999;
}

.total th {
    border: 0;
    float: left;
    font-weight: 500;
    color: #37a6ff;
    padding: 10px;
}

.footer{
    height: 40px;
    width: 100%;
    font-size: .5em;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
}